<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="row">
    <div class="col-md-2">
      <img _ngcontent-ruw-c90="" alt="Mintree Logo" src="/assets/images/mindtree-logo.png" style="width: 70%;">
    </div>
    <div class="col-md-8 pt-1rem">
      <span routerLink="/employeeDetails">Employee Details</span>
      <span routerLink="/employeeDesignations">Employee Designation Details</span>
      <span routerLink="/leaveManagement">Leave Request Management</span>
    </div>
    <div class="col-md-2 pt-1rem">
      <span routerLink="/login" style="float: right;">
        <mat-icon fontIcon="logout" style="line-height: 0.7; font-size: 20px; height: auto;"></mat-icon> Logout
      </span>      
    </div>
  </div>
</div>
<mat-card style="margin-top: 70px; background-color: #007db9 !important;">
  <div class="container">
    <div class="row" style="padding: 30px; font-size: 2rem; font-weight: 400; color: white;">
        <div class="col-md-12">
            <p>Welcome to Mindtree Employee Management</p>
        </div>
    </div>
  </div>
</mat-card>